*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    color: white;
    width: 100%;
    height: 80vh;
    background-image: url(bg.png);
    background-repeat: 100%;
    background-position: 100% 90%;
    background-size: 100%;
    margin-bottom: 50px;
}
nav{
    font-size: 30px;
    display: flex;
    height: 150px;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.menu{
    gap: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
}
main{
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
}
.pos{
    padding: 20px;
    z-index: 3;
    position: absolute;
    margin-left: 25%;
    width: 250px;height: 100px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 30px;
    margin-top: 250px;
}
.poss{
    top: 700px;
    left: 480px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    width: 48%;
    height: 220px;
    background-color:  rgba(255, 255, 255, 0.712);
    border: 1px solid lightgray;
}
.ps{
    margin-top: 30px;
    position: absolute;
    margin-left: -0px;
}
.obsh{
    position: absolute;
    display: flex;
    z-index: 3;
    width: 97%;
    height: 50px;
}
.lef{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    background-color: #177BA5;
    border-radius: 30px;
}
.rig{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    border-radius: 30px;
}
section{
    width: 80%;
    height: 80vh;
    background-color: aqua;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.sc1{
    background-color: transparent;
    margin-top: 180px;
    height: 125vh;
}
.sc1 h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}
.box{
    border-radius: 30px;
    width: 30%;padding: 20px;
    height: 52vh;
    box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.48);
}
.allbox{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.box img {
    width: 90%;
    margin-left: 20px;
}
.box h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.boxdf{
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
    display: flex;
}
.ot{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding: 6px;
    width: 60px;
    background-color: #D6EDEB;
    color: green;
}
.b1{
    width: 130px;
    color: white;
    padding: 8px;border: none;
    font-size: 20px;
    background-color: #177BA5;
    border-radius: 30px;
}
.bxdf{  
    margin-top: 10px;
    margin-left: 20px;
    gap: 110px;
    align-items:center ;
    display: flex;
}
.sc2{
    width: 90%;
    height: 70vh;
    background-color: #F4F2EE;
    display: flex;
    
}
.left{
    width: 45%;
    height: 65vh;
}
.left img{
    width: 90%;
}
.right{
    align-content: center;
    font-size: 30px;
    width: 45%;
    height: 65vh;
}
.right h1,p{
    margin-bottom: 20px;
}
.b2{
    width: 250px;
    background-color: #177BA5;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
.sc3{
    gap: 20px;
    background-color: transparent;
    display: flex;
    height: 52vh;
}
.lf{
    font-size: 47px;
    width: 45%;
    height: 50vh;
}
.lf h1{
    margin-bottom: 20px;
}
.arr{
    gap: 20px;
    margin-left: 85%;
    display: flex;
}

.rg{
    display: flex;
    justify-content: space-between;
    width: 55%;
    height: 50vh;
}
.rg img{
    width: 32%;
    height: 50vh;
}