*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    color: white;
    width: 100%;
    height: 80vh;
    background-image: url(../bg.png);
    background-repeat: 100%;
    background-position: 100% 90%;
    background-size: 100%;
    margin-bottom: 50px;
}
nav{
    font-size: 30px;
    display: flex;
    height: 150px;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    font-size: 60px;
    margin-top: -20px;
}
.menu{
    gap: 80px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
main{
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
}
.pos{
    padding: 20px;
    z-index: 3;
    position: absolute;
    margin-left: 25%;
    width: 250px;height: 100px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 30px;
    margin-top: 250px;
}
.poss{
    top: 700px;
    left: 480px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    width: 48%;
    height: 220px;
    background-color:  rgba(255, 255, 255, 0.712);
    border: 1px solid lightgray;
}
.ps{
    margin-top: 30px;
    position: absolute;
    margin-left: -0px;
}
.obsh{
    position: absolute;
    display: flex;
    z-index: 3;
    width: 97%;
    height: 50px;
}
.lef{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    background-color: #177BA5;
    border-radius: 30px;
}
.rig{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    border-radius: 30px;
}
section{
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.sc1{
    background-color: transparent;
    margin-top: 180px;
    height: 125vh;
}
.sc1 h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}
.box{
    border-radius: 30px;
    width: 30%;padding: 20px;
    height: 54vh;
    box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.29);
}
.allbox{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.box img {
    width: 90%;
    margin-left: 20px;
}
.box h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.boxdf{
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
    display: flex;
}
.ot{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding: 6px;
    width: 60px;
    background-color: #D6EDEB;
    color: green;
}
.b1{
    width: 130px;
    color: white;
    padding: 8px;border: none;
    font-size: 20px;
    background-color: #177BA5;
    border-radius: 30px;
}
.bxdf{  
    margin-top: 10px;
    margin-left: 20px;
    gap: 110px;
    align-items:center ;
    display: flex;
}
.sc2{
    width: 90%;
    height: 70vh;
    background-color: #F4F2EE;
    display: flex;
    
}
.left{
    width: 45%;
    height: 65vh;
}
.left img{
    width: 90%;
}
.right{
    align-content: center;
    font-size: 30px;
    width: 45%;
    height: 65vh;
}
.right h1,p{
    margin-bottom: 20px;
}
.b2{
    width: 250px;
    background-color: #177BA5;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
.sc3{
    gap: 20px;
    background-color: transparent;
    display: flex;
    height: 52vh;
}
.lf{
    font-size: 45px;
    width: 45%;
    height: 50vh;
}
.lf h1{
    margin-bottom: 20px;
}
.arr{
    gap: 20px;
    margin-left: 85%;
    display: flex;
}

.rg{
    display: flex;
    justify-content: space-between;
    width: 55%;
    height: 50vh;
}
.rg img{
    width: 32%;
    height: 50vh;
}
.al{
     gap: 20px;
    display: flex;
}
.sc4 {
    background-color: transparent;
    height: 115vh;
}
.sc4 h1{
    text-align: center;
    font-size: 75px;
    margin-bottom: 30px;
}
.l{
    width: 50%;
    height: 50vh;
}
.l img{
    width: 100%;
}
.r{
    align-content: center;
    font-size: 39px;
    width: 50%;
    height: 50vh;
}
.r h2{
    font-size: 62px;
}
.r h2,p{
    margin-bottom: 30px;
}
.dv1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dv2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dv2 img{
    width: 4%;
}
.sc5{
    background-color: transparent;
    height: 60vh;
}
.hh{
    text-align: center;
    font-size: 45px;
}
.ham{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.cen{
    font-size: 25px;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    width: 60%;height: 26vh;
    border-radius: 35px;
    box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.29);
}
.cen h3{
    margin-bottom: 20px;
}
.pp{
    position: absolute;
    margin-top: -100px;
    margin-left: -40px;
}
.pg{
    text-align: center;
}
footer{
    font-size: 36px;
    align-content: center;
    text-align: center;
    width: 100%;height: 60vh;
    background-color: aqua;
    background-image: url(../8de3e093eed270f10f62924ad2b56e1a61ebee91.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 60%;
}
.b3{
    margin-top: 30px;
}
.last{
    margin-top: 0;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.f1 h2{
    margin-top: 40px;
    margin-bottom: 10px;
}
.b{
    margin-bottom: 20px;
}
.f1{
    font-size: 20px;
}
.f1 h4{
    margin-bottom: 5px;
}
.f1 p{
    margin-top: 5px;
    margin-bottom: 0;
}
input{
    margin-top: 20px;
    text-align: center;
    width: 250px;
    padding: 15px;font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: lightgray;
}
.b4{
    color: white;
    background-color: #177BA5;
    margin-top: 20px;
    text-align: center;
    width: 280px;
    padding: 15px;font-size: 18px;
    border-radius: 30px;
    border: none;
}
.lass{
    padding-top: 10px;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}
.gl{
    background-color: #FCDDEC;
    color: #F178B6;
}
